html {
    height:100%;
    width: 100%;
    overflow:auto;
}

body {
    background-color:#1c1c1c;
    padding:0px;
    margin:0px;
    width: 100%;
    min-width: 310px;
}

/* header fixed at the top */
header {
    margin:0px;
    position:fixed;
    width: 100%;
    top:0;
}

h1 {
    background-color: #252525;
    padding-top:6px;
    padding-bottom: 3px;
    text-align: center;
    margin:0px;
    color:#ffffff;
    font-family: 'Great Vibes', cursive;
    font-size:35px;
}

h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* colors an element with a certain color and sets text color to white */
.blue {
    background-color: #0281e8;
    color: white;
}

.red {
    background-color: rgb(201, 2, 52);
    color: white;
}

.green {
    background-color: rgb(2, 217, 67);
    color: white;
}


.grey {
    background-color: rgb(234, 234, 234);
    color: black;
}

/* button style */
.rule_button_fixed {
    width: 80px;
    height: 30px;
    text-align: center;
    position: fixed;
    top:13px;
    right:11px;
    font-size: 0px;
    background-color: #252525;
    border-color: #e37b05;
    border-radius: 5px;
    color: #e37b05;
    border: 1px solid #e37b05;
    padding: 4px;
}

.rule_button_fixed:hover {
    background-color: white;
}

/* img inside button */
.rule_button_fixed img {
    height:18px;
    vertical-align: middle;
}

/* text inside button */
.rule_button_fixed span {
    vertical-align: middle;
    font-size: 14px;
}

/* main container */
#main_container {
    width: fill;
    margin:0px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
    justify-items: stretch;
    padding: 10px;
    margin-top: 55px;
}

/* used primarily for containers that contain text like score, time, etc*/
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 7px;
    background-color: #252525;
    padding: 8px;
    margin: 0px;
}

/* header of a container */
.container h3 {
    font-size:larger;
    color: white;
    text-align: center;
    font-size: 27px;
    padding: 8px;
    margin: 0px;
}

/* subheader of a container */
.container .large_text {
    font-weight: normal;
}

/* container which contains the prompt */
#prompt_container {
    grid-column: 1 / 3;
    background-color: rgb(234, 234, 234);
}

/* styling of the prompt text */
#prompt {
    font-size: 18px;
    font-weight:600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: black;
}

#prompt_colored {
    font-size: 18px;
    font-weight:600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: black;
}

.fadeInSlow {
    animation-name: fadeInBottom;
    animation-duration: 1s;
    animation-play-state: running;
}

@keyframes fadeInBottom {
from {
    opacity:0;
    transform: translate3d(0, 10px, 0);
}
to {
    opacity: 1;
}
}

/* duplicated animation to make it possible to restart animation with 
JS when new prompt will be loaded. */
@keyframes fadeInBottom2 {
    from {
        opacity:0;
        transform: translate3d(0, 10px, 0);
    }
    to {
        opacity: 1;
    }
    }

/* Container which contains the game buttons */
#button_container {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    border-radius: 7px;
    background-color: #252525;
    padding: 8px;
    margin: 0px;
}

button {
    height: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    border-radius: 7px;
    border: 0px;
    color: white;
    padding: 10px;
}


#shake_button {
    display: none;
}

/* styling for shake button icon */
#shake_button img {
    vertical-align: middle;
    height: 38px;
}

/* styling for play button */
#play_button {
    grid-column: 1 / 3;
    background-color: #252525;
    font-size: 0px;
    border-radius: 7px;
    vertical-align: middle;
}

#play_button img {
    height: 30px;
    vertical-align: middle;
}

#play_button span {
    vertical-align: middle;
    font-size: 30px;
    color: #e37b05;
    text-align: center;
}

/* screens like tablets - add additional column to button container and increase button size */
@media screen and (min-width: 700px) {
    #button_container {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        border-radius: 7px;
        background-color: #252525;
        padding: 8px;
        margin: 0px;
    }

    button {
        padding: 25px;
    }

}

/* adjust layout for large screens like laptops, make layout more compact */
@media screen and (min-width: 1000px) {
    #main_container {
        grid-template-columns: 1fr 2fr 2fr 1fr;
    }

    #score_container {
        grid-column: 2 / 3;
    }

    #time_container {
        grid-column: 3 / 4;
    }

    #prompt_container {
        grid-column: 2 / 4;
    }

    #button_container {
        grid-column: 2 / 4;
    }

    #play_button {
        grid-column: 2 / 4;
    }

}

/* for buttons that do are not a hyperlink, hover pseudoclass can be sticky on mobile devices
    below code checks if the device supports true hover i.e non touch devices with a mouse */
@media (hover: hover) {
    #play_button:hover {
        filter: brightness(85%);
    }

    /* on hover make button slightly darker*/
.game_button:hover {
    filter: brightness(85%);
}
}
    
